__pycache__/
*.pyc
.venv/
frontend/node_modules/
resume-engine/sample_resume.pdf
resume-engine/resume_report.json

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ML Models
*.pkl

# VS Code
.vscode/